.feed {
    position: absolute;
    top: 140px;
    bottom: 0px;
    left: 330px;
    right: 45px;
    min-width: 340px;
    min-height: 975px;
    background-color: white;
    border: 3px solid black;
}