.session-box {
    grid-template-rows: 13% 12% auto 30%;
    grid-template-columns: 50% 50%;
    grid-gap: 2%;
}

.website-title {
    background-color: white;
    grid-column: 1 / 3;
    color: rgb(175, 4, 4);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slogan {
    grid-column: 1 / 3;
    grid-row-start: 2;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

.session-buttons-box {
    background-color: white;
    grid-column-start: 1;
    grid-row-start: 3;    
}

.session-form {
    // padding: 10px;
    background-color: white;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-template-rows: 3;
    align-content: flex-start;
}

.signup-message {
    grid-area: 1 / 1 / 1 / 3;
}

.login-button {
    grid-row-start: 3;
}

.signup-button {
    grid-row-start: 3;
}

// input[type="text"] {
//     width: fit-content;
// }