.sidebar {
    min-width: 200px;
    position: absolute;
    top: 140px;
    left: 45px;
    width: 200px;
    height: 450px;
    background-color: white;
    border: 3px solid black;
    padding-left: 15px;
    padding-right: 10px;
}

// .topic-list {

// }