// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hot-topic {
    text-decoration: underline;
}

.hot-topic:hover {
    cursor: pointer;
}

.empty-topic {
    padding-left: 15px;
    font-size: 22px;
}

.topic-linker:hover {
    cursor: pointer;
}